.uploadvideo{
    width: 400px;
    margin:0 auto;
}
#uploadForm { 
    display: block; 
    margin: 20px auto; 
    background: #eee; 
    border-radius: 10px; 
    padding: 15px;
    width: 400px;
}

#uploadForm ul li{
    list-style: none;
    margin-bottom: 5px;
}

#uploadBtn{
    margin-top: 10px;
}

#progress { 
    position:relative; 
    width:400px; border: 
    1px solid #ddd; padding:
     1px; 
     border-radius: 3px; 
}

#bar { 
    background-color: #B4F5B4; 
    width:0%; 
    height:20px; 
    border-radius: 3px; 
}

#percent { 
    position:absolute; 
    display:inline-block; 
    top: 0; 
    left: 48%; 
}